@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");

$btn-color: #b90e3fd9;
$primaryClr: white;
$secondaryClr: #eaeaea;
$focus-color: #50dae2;

@mixin set-btn-style() {
  background-color: $btn-color;
  color: $primaryClr;
  border: none;
  font-weight: 600;
  text-align: center;
  &:hover {
    cursor: pointer;
    transform: scale(0.98);
  }
  &:focus {
    outline: none;
    cursor: pointer;
  }
}

@mixin set-max-width() {
  max-width: 1024px;
  margin: 0 auto;
}
