@import "./config";
.model {
  flex-direction: row-reverse;
  position: relative;
  @include set-max-width();
}
.cartContent {
  top: 6.5rem;
  right: 0;
  position: relative;
  background: #eaeaea;
  width: 38%;
  border: 0.1rem solid black;
  height: calc(100vh - 6.5rem);
}

.cartHead {
  background: black;
  padding: 1rem;
  margin-top: 0;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
}
.cartItems {
  margin: 1rem 0 0 0;
  height: calc(100% - 10rem);
  overflow-y: scroll;
  font-size: 0.8rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.itemDetails {
  display: block;
  padding: 1rem;
  flex: 6 1;
}
.cartItem {
  display: flex;
  background: $primary-color;
  margin-bottom: 0.5rem;
  img {
    padding: 0.4rem 0 0.4rem 0.6rem;
  }
}
.cartOffer {
  background: $primary-color;
  padding: 0.5rem;
  margin: 0.7rem;
  display: flex;
  align-items: center;
  span {
    padding-left: 1rem;
  }
}
.quantity {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  .btnsHolder {
    display: flex;
  }
  .btnCnt {
    background: $btn-color;
    color: $primary-color;
    padding: 0;
    border-radius: 0.7rem;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.5rem;
    position: relative;
    .btns {
      position: absolute;
      left: 30%;
      bottom: 5%;
      font-size: 1.2rem;
    }
    :hover {
      cursor: pointer;
    }
  }
}
.cartFooter {
  position: absolute;
  bottom: 0;
  background: $primary-color;
  width: 100%;
}
.startShopping,
.checkOut {
  button {
    margin: 0.6rem;
    @include set-btn-style();
    width: calc(100% - 1.4rem);
  }
}
.checkOut button {
  display: flex;
  justify-content: space-between;
  span:last-child {
    padding-left: 0.6rem;
  }
}
.startShopping button {
  text-align: center;
}
.promo {
  text-align: center;
  padding-top: 0.6rem;
}
.noItem {
  background: $primary-color;
  text-align: center;
  padding: 60% 0;
  .noItemsMess {
    padding-top: 0.6rem;
  }
}
.itemCount,
.itemPrice,
.itemTotal {
  margin: 0.5rem;
}
.itemPrice {
  span:last-child {
    padding-left: 1.3rem;
  }
}
.cartItems::-webkit-scrollbar {
  // for hiding scrollbar in chrome
  display: none;
}
.cartHeadRight {
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1024px) {
  .cartContent {
    width: 100%;
    border: none;
    .cartHead {
      background: $primary-color;
      color: black;
      margin-top: 1.5rem;
      .cartHeadRight {
        display: none;
      }
    }
    .noItem {
      background: #eaeaea;
    }
    .cartItems {
      height: calc(100% - 11.5rem);
    }
  }
}

@media screen and (max-width: 736px) {
  .cartContent {
    top: 3rem;
    height: calc(100vh - 3rem);
  }
}
