@import "./config";

a {
  text-decoration: none;
  color: #626060;
}

.header-wrapper {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.3rem;
  padding-top: 0.5rem;
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  overflow-x: hidden;
  background: $primary-color;
}

.mainHeader {
  display: grid;
  @include set-max-width();
  height: 6rem;
  grid-template-columns: 50% 50%;
  grid-template-areas: "leftHeader rightHeader";
  li:last-child {
    padding-left: 1.6rem;
    padding-right: 0.6rem;
  }
}
.leftHead {
  grid-area: leftHeader;
  display: flex;
  nav {
    padding: 3rem 0 0 3rem;
  }
}
.rightHead {
  grid-area: rightHeader;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.auth,
.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.cartLogo {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background: $secondary-color;
  align-items: center;
  padding-right: 2.5rem;
  button {
    background: inherit;
    border: none;
    :hover {
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1024px) {
  .mainHeader,
  .header-wrapper {
    max-width: calc(100vw);
  }
}
@media screen and (max-width: 736px) {
  nav {
    display: none;
  }
  .logo {
    height: 2.5rem;
  }
  .cartLogo {
    padding: 0.8rem;
    padding-right: 2rem;
  }
  .mainHeader {
    height: 3rem;
  }
}
