@import "./config";

.productBycategory {
  padding-top: 1rem;
  img {
    height: 12.5rem;
  }
  button {
    @include set-btn-style();
  }
}
.leftFlex,
.rightFlex {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -1rem 0.6rem -1rem rgba(0, 0, 0, 0.2);
  margin-top: 0.8rem;
  padding: 1.6rem 0;
}
.leftFlex {
  flex-direction: row;
}
.rightFlex {
  flex-direction: row-reverse;
}
.categoryDetails {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.6rem;
  margin: 0 auto;
}
.categoryImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categoryName {
  padding-bottom: 0.6rem;
  strong {
    font-size: 1.2rem;
  }
}
.categoryDesc {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 736px) {
  .productBycategory {
    padding-top: 0.3rem;
    img {
      height: 4rem;
    }
    button {
      font-size: 0.9rem;
    }
  }
}
