@import "./config";

.plp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.prodCategories {
  background: $secondary-color;
  flex: 2 1;
  font-weight: 600;
  font-size: 1rem;
}
.prodCategory {
  padding-left: 1.5rem;
  border-bottom: 1px solid #c1bbbb;
  color: #626060;
}
.allProducts {
  flex: 6 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}
.product {
  grid-column: span 2;
  border-bottom: 2px dotted $secondary-color;
  position: relative;
  margin-left: 1rem;

  .prodName {
    padding: 0 0.6rem;
    height: 3.2rem;
    margin-bottom: 40px;
  }
  .prodImageNdDes {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  .prodDesc {
    background: $secondary-color;
    padding: 0 10px;
    p {
      height: 6.3rem;
      overflow: hidden;
      padding: 0.7rem 0px;
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }
  .priceDesc {
    display: flex;
    justify-content: space-between;
  }
  .prodPrice {
    font-size: 0.9rem;
    padding-top: 0.8rem;
  }
  .buyBtn {
    @include set-btn-style();
    min-width: 100px;
  }
}
.prodCateMobile {
  display: none;
  font-size: 2rem;
}
.selected {
  color: $primary-color;
  background: $btn-color;
}
@media screen and (max-width: 1024px) {
  .product {
    grid-column: span 4;
    margin-right: 0.5rem;
    .prodImageNdDes {
      flex-direction: row;
    }
    .prodImg,
    .prodDesc {
      flex: 1 1;
    }
    .prodImg {
      margin-right: 1rem;
    }
    button {
      width: 100%;
    }
  }
  .product .prodName {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 736px) {
  .plp {
    flex-direction: column;
  }
  .product {
    grid-column: span 8;
    margin-right: 1.2rem;
  }
  .phoneProdDes {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
    }
    .prodDesc {
      flex: 7 1;
    }
  }
  .prodCategory {
    display: none;
  }
  .selected {
    display: flex;
    justify-content: space-between;
  }
  .enable {
    display: block;
  }
  .prodCateMobile {
    background: initial;
  }
  .product .prodName {
    margin-bottom: 0;
  }
}
