@import "./config";

.signUpPage {
  display: flex;
  .pageDetails {
    flex: 1 1;
    margin: 70px 80px;
    .loginHead {
      strong {
        font-size: 30px;
      }
      padding-bottom: 20px;
    }
    .loginDesc {
      font-size: 13px;
    }
  }

  .signupForm {
    flex: 2 1;
    margin: 70px 0;
    color: #898585;
    input {
      text-decoration: none;
      border: none;
      width: 270px;
      padding: 0;
      outline: none;
    }
    .email,
    .password,
    .cnfpassword,
    .loginBtn,
    .fname,
    .lname {
      margin-bottom: 15px;
      width: 300px;
      height: 42px;
    }
    .email,
    .password,
    .cnfpassword,
    .fname,
    .lname {
      border-bottom: 2px solid $secondaryClr;
      &:focus-within {
        color: $focus-color;
        font-weight: 600;
        border-bottom: 2px solid $focus-color;
      }
    }
    .loginBtn {
      @include set-btn-style();
    }
  }
}
